<header>
    <h1>Bijles</h1>
</header>
<main>
    <h2>Account</h2>
    <ul>
        <li>
            <h3>Voornaam</h3>
            <p>{{data.voornaam}}</p>
        </li>
        
        <li>
            <h3>Achternaam</h3>
            <p>{{data.achternaam}}</p>
        </li>
        
        <li>
            <h3>Email</h3>
            <p>{{data.email}}</p>
        </li>
        
        <li>
            <h3>Telefoonnummer</h3>
            <p>{{data.telefoonnummer}}</p>
        </li>

        <li>
            <h3>Plaats</h3>
            <p>{{data.plaats}}</p>
        </li>

        <li>
            <h3>Afstand</h3>
            <p>{{data.afstand}}</p>
        </li>

        <li>
            <h3>Opleidings niveau</h3>
            <p>{{data.opleidings_niveau}}</p>
        </li>

        <li>
            <h3>Schooljaar</h3>
            <p>{{data.schooljaar}}</p>
        </li>

        <li>
            <h3>Opleiding</h3>
            <p>{{data.opleiding}}</p>
        </li>

        <li>
            <h3>Bijles</h3>
            <p>{{data.bijles}}</p>
        </li>


    </ul>
   
    <form action="/delete" method="post" id="delete" >
    <button>
        Delete
    </button>
    </form>
</main>